.test-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin: 0 50px 0 10px;
    padding: 10px 20px;
}

.test-link:hover, .test-link--active {
    background: #F1F5F9;
    border-radius: 16px;
    color: #2C52B7;
}

.logo{
    height: 100%;
}
.button{
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    /*margin: 0 20px 0 0;*/
    margin-right: auto;
}
.button-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo-general-span{
    font-weight: 600;
    margin: 0 0 0 10px;
    font-size: 18px;
    color: #385b95;
}
.logo-ink-span{
    color: #62caec;
}
.nav-link{
    margin-right: 0px;
}
.contacts {
    margin: 5px auto;
}
.contacts-link {
    margin-right: 16px;
    color: black;
    font-weight: 600;
}
.aside-logo{
    margin: 70% auto 0 auto;
    width: 40px;
    height: 40px;
}
.logo-aside-span {
    font-weight: 600;
    margin: 0 auto;
    font-size: 14px;
    color: #385b95;
}
.copyright-aside-span{
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
    font-weight: 600;
}
@media (max-width: 400px) {
    .logo-general-span{
        display: none;
    }
}