.ContainerBg {
  height: 400px;
  background: linear-gradient(-120deg, #385b95, #62caec);
  background-image: url('https://lazy-creator.ru/chim/img/slider/s1.jpg');
  background-size: cover;
  background-position: center;
}
